

body{
   width: 100vw;
   height: 300vh;
   margin: 0;
}

.header-visit{
    background-color: #3998d7;
    margin: 0;
    width: 1450px;
    height: 600px;
    display: flex;
    /* max-width: 1450px;
    max-height: 600px; */
    /* flex-wrap: wrap;
    flex-direction: row; */
}
.header{
    background-color: #3180b4;
    margin: 0;
    width: 100vw;
    height: 90px;
    /* max-width: 1450px;
    max-height: 600px; */
    position: fixed;
    top: 1px;
    bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap;
    flex-direction: row; */
    z-index: 2;
}
.logo{
    position: relative;
    width: 80px;
    height: 60px;
    border-radius: 20px;
    padding: 10px;
}
.welcome{
    font-size: 40px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1a3b51;
    padding: 10px;
}
.s-logo{
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}
.s-logo:hover{
   background-color:#9ed5fa ;
}
.preview{
    max-width: 1450px;
    max-height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eye{
    margin: 80px 0 0 0 ;
    position: absolute;
    padding: 50px;
    width: 400px;
    height: 350px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quadro{
    width: 1px;
    height: 400px;
    background-color:#9ed5fa;
    z-index: 1;
    position: absolute;
    margin: 90px 0 0 0 ;
    margin-left: 500px;
    padding: 10px 0 0 10px;
    display: flex;
}
.text-eye{
    color: #1a3b51;
    position: absolute;
    margin: 10px 0 0 0 ;
    margin-left:600px;
    padding: 50px 0 0 0;
    flex-wrap: nowrap;
    z-index: 1;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body-page{
    background-color: #1a3b51;
    margin: 0;
    width: 1450px;
    height: 790px;
}
button{
    font-size: 20px;
    background-color: #9ed5fa;
    border-radius: 15px;
    width: 120px;
    height: 60px;
    z-index: 1;
    margin: 470px 0 0 0 ;
    margin-left:850px;
    padding: 50px 0 0 0;
    border: #3180b4 solid 2px;
    font-weight: 400;
}
#text-b{
    padding: 4px;
    text-align: center;
    color:#1a3b51;
    position: relative;
}
.blue:hover{
    filter: brightness(.8);
}

.text-h1{
    padding: 35px;
    font-size: 50px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #3180b4;
}
.photo-p{
    margin: 2px 0 0 0 ;
    position: absolute;
    padding: 50px;
    width: 350px;
    height: 550px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.text-p{
    color: #3180b4;
    position: absolute;
    margin: 60px 0 0 0 ;
    margin-left:450px;
    padding: 30px 0 0 0;
    flex-wrap: nowrap;
    z-index: 1;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.quadros{
    width: 400px;
    height: 1px;
    background-color:#9ed5fa;
    z-index: 1;
    position: absolute;
    margin: 30px 0 0 0 ;
    margin-left: 490px;
    display: flex;
}
.body-next{
    background-color: #5c7688;
    margin: 0;
    width: 1450px;
    height: 900px;
}
.text-h1n{
    padding: 35px;
    font-size: 50px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #1a3b51; 
}
.text-pn{
    color: #1a3b51;
    position: absolute;
    margin: 10px 0 0 0 ;
    margin-left:100px;
    padding: 50px 0 0 0;
    flex-wrap: nowrap;
    z-index: 1;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.movie-card{
    margin: 200px 0 0 0 ;
    margin-left:100px;
    position: absolute;
    padding: 40px;
    width: 350px;
    height: 450px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.card:hover{
    filter: brightness(.8);
}

.museum-card{
    margin: 200px 0 0 0 ;
    margin-left:600px;
    position: absolute;
    padding: 40px;
    width: 650px;
    height: 90px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.ozon-card{
    margin: 350px 0 0 0 ;
    margin-left: 600px;
    position: absolute;
    padding: 40px;
    width: 650px;
    height: 200px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.text-pns{
    color: #1a3b51;
    position: absolute;
    margin: 600px 0 0 0 ;
    margin-left:800px;
    padding: 50px 0 0 0;
    flex-wrap: nowrap;
    z-index: 1;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-fh1{
    padding: 40px;
    font-size: 60px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: #a8dbfe;
    z-index: 2;
}
.footer{
    /* background-color: #3998d7; */
    margin: 0;
    /* width: 1450px;
    height: 700px;  */
}
.quadrosf{
    width: 1450px;
    height: 1px;
    background-color:#9ed5fa;
    z-index: 1;
    position: absolute;
    margin: 20px 0 0 0 ;
    margin-left: -40px;
    display: flex;
}
.text-f{
    color: #a8dbfe;
    position: absolute;
    margin: 30px 0 0 0 ;
    /* margin-left:800px; */
    margin-left: 40px;
    flex-wrap: nowrap;
    z-index: 1;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#id_login{
    border-radius: 10px;
    position: absolute;
    margin: 50px 0 0 0 ;
    margin-left: 40px;
    width: 200px;
    height: 20px;
    background-color: #9ed5fa;
    border: 2px solid #3180b4;
}
#id_login:hover{
    filter: brightness(.8);
}
#id_myself{
    border-radius: 15px;
    position: absolute;
    margin: 120px 0 0 0 ;
    margin-left: 40px;
    width: 300px;
    height: 50px;
    background-color: #9ed5fa;
    border: 2px solid #3180b4;
}
#id_myself:hover{
    filter: brightness(.8);
}
.text-fp{
    color: #a8dbfe;
    position: absolute;
    margin: 80px 0 0 0 ;
    /* margin-left:800px; */
    margin-left: 40px;
    flex-wrap: nowrap;
    z-index: 1;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-fps{
    color: #a8dbfe;
    position: absolute;
    margin: 190px 0 0 0 ;
    /* margin-left:800px; */
    margin-left: 70px;
    flex-wrap: nowrap;
    z-index: 1;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.check{
    background-color: #142938;
    position: absolute;
    margin: 195px 0 0 0 ;
    margin-left: 50px;
    font-size: 30px;
}
.check-btn{
    padding: 4px;
    text-align: center;
    color:#1a3b51;
    position: relative;
    margin: 240px 0 0 0 ;
    width: 130px;
    border-radius: 15px;
    height: 50px;
    margin-left: 120px;
    font-weight: 700;
    font-size: 25px;
    background-color: #9ed5fa;
    border: #3180b4 solid 2px;
}
.check-btn:hover{
    filter: brightness(.8);
}
.f-photo{
    margin: 0 ;
    position: absolute;
    /* padding: 40px; */
    /* width: 50px;
    height: 350px; */
    /* margin-left: 520px; */
    width: 1450px;
    height: 700px; 
    z-index: -1;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center; 
    filter: brightness(20%);
}
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
     justify-content: right;
    align-items: center;
    
}
.logof{
    width: 70px;
    height: 60px;
    border-radius: 20px;
    padding: 10px ;
    margin: 20px ;
    /* margin-left: 900px; */
    margin-right: 50px;
    position: relative;
    display: flex;
    /* justify-content: right;
    align-items: center; */
}
.logof2{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px ;
    margin-right: 50px;
    z-index: 2;
    display: flex;
    position: relative;
}
.logof3{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px ;
    margin-right: 50px;
    z-index: 2;
    display: flex;
    position: relative;
     
}
.logof4{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px ;
    margin-right: 50px;
    z-index: 2;
    display: flex;
    position: relative;
    
}
.logof5{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px ;
    margin-right: 50px;
    z-index: 2;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.quadrosfc{
    width: 1px;
    height: 400px;
    background-color:#9ed5fa;
    z-index: 1;
    position: relative;
    margin:-300px 0 0 0 ;
    margin-right: 100px;
    padding: 20px 0 0 10px;

}
.thnk-you{
    margin: 100px 0 0 0;
    width: 1450px;
    height: 40px;
    background-color: #142938;
}
.text-fpt{
    color: #a8dbfe;
    padding: 15px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* @media screen and (max-width: 1200px) {
     
}
@media screen and (max-width: 992px) {
    
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 576px) {
    
}
@media screen and (max-width: 480px) {
    
} */